body {
    background-color: #F2F2F2;
    font-family: Arial;
}
.quiz-card {
    background-color: white;
    width: 500px;
    margin: 50px auto;
    padding: 25px;
    border-radius: 15px;
    border: 2px solid #7b2cff;
}
h1 {
    color: #7b2cff;
    text-align: center;
}
.intro { 
    text-align: center;
    color: gray;
}
.question {
    background-color: #eee6ff;
    padding: 15px;
    border-radius: 10px;
    font-weight: bold;
}
li {
    margin: 10px;
}
button {
    background-color: #7b2cff;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 10px;
}